<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
  <div class="container-fluid d-flex align-items-center">
    <h2 class="d-flex align-items-center fs-3 text-white mb-2">
      Перевод числа в пропись + НДС. Тестовое задание Максим Жорин
    </h2>
  </div>
</header>

<div class="container">

    {% block content %}{% endblock %}
</div>

</body>
</html>