{% extends 'translate_number/base.html' %}

{% block title %}
Перевод числа в пропись + НДС. Тестовое задание Максим Жорин
{% endblock %}

{% block content %}
<div class="alert shadow-lg p-3 mb-5 bg-white rounded mt-4">
    <h1>Перевести сумму</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.number }}<br>


    <div class="form-group">
        <div class="form-check">
            {{ form.nds }}
           <label class="form-check-label" for="gridCheck">
                Сумма с НДС(20%)
            </label>
            </div>
        </div>
  <button type="submit" class="btn btn-primary">Перевести</button>
    </form>
</div>
   {% if numbers_list  %}
       {% for el in numbers_list %}
             <div class="alert shadow-lg p-3 mb-5 bg-white rounded mt-4">
                 <p>{{ el.number_sting }}</p>
             </div>
       {% endfor %}
   {% else %}
        <div class="blockquote text-center alert shadow-lg p-3 mb-5 bg-white rounded">
                 <h2>История записей пуста</h2>
             </div>
    {% endif %}
{% endblock %}
